* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.list-box {
	margin: 50px auto;
	width: 960px;
}
.list {
	padding: 20px;
	list-style: none;
}
.list:nth-child(odd) {
	background-color: #f7f7f7;
}

.main-box {
	width: 960px;
	margin: 0 auto 50px;
}

.box {
	background-color: yellow;
	width: 30%;
	height: 200px;
	float: left;
	margin-right: 5%;
	margin-bottom: 40px;
}

.box:first-child,
.box:last-child,
.box:nth-child(5){
	background-color: orange;
}

.box:nth-child(3n){
	margin-right: 0;
}

.box:nth-last-child(6+n){
	margin-bottom: 0;
}